# Backend HTTP port exposed by the Mitbauen binary itself.
app_service_http_port=8080

# Database connection used by the Mitbauen binary.
jdbc_database_url=jdbc:postgresql://127.0.0.1:5432/mitbauen
jdbc_database_user=mitbauen
jdbc_database_password=change_me
