postgres_db=mitbauen
postgres_user=mitbauen
postgres_password=mitbauen_dev_password
postgres_port=5432

backend_port=8080

jdbc_database_url=jdbc:postgresql://postgres:5432/mitbauen
jdbc_database_user=mitbauen
jdbc_database_password=mitbauen_dev_password

app_public_base_url=http://127.0.0.1:8080
app_email_from=Mitbauen <no-reply@mail.mitbauen.space>
resend_api_key=
app_translation_openai_api_key=
app_translation_openai_model=gpt-5-mini
