COMPOSE_PROJECT_NAME=mitbauen-native

POSTGRES_DB=mitbauen
POSTGRES_USER=mitbauen
POSTGRES_PASSWORD=mitbauen_dev_password
POSTGRES_PORT=5432

BACKEND_PORT=8080

JDBC_DATABASE_URL=jdbc:postgresql://postgres:5432/mitbauen
JDBC_DATABASE_USER=mitbauen
JDBC_DATABASE_PASSWORD=mitbauen_dev_password

APP_PUBLIC_BASE_URL=http://127.0.0.1:8080
APP_EMAIL_FROM=Mitbauen <no-reply@mail.mitbauen.space>
RESEND_API_KEY=
